name: Terraform Apply



on:

  push:

    branches:

      - main



jobs:

  terraform-apply:

    runs-on: ubuntu-latest



    steps:

      - name: Checkout repository

        uses: actions/checkout@v4



      - name: Setup Terraform

        uses: hashicorp/setup-terraform@v3

        with:

          terraform_version: 1.6.6



      - name: Terraform Init

        working-directory: terraform

        run: terraform init



      - name: Terraform Apply

        working-directory: terraform

        run: terraform apply -auto-approve


